@{
    ViewBag.Title = "Buscar Cliente";
    Layout = null;
}

<div class="row">
    <div class="col-md-12 col-xs-12">

        <div class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <label>Nombre</label>
                    <input id="nombre" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" autocomplete="off">
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12">
                    <label>Apellido</label>
                    <input id="apellido" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" autocomplete="off">
                </div>

                <div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 25px !important;">
                    <button type="button" onclick="CargarCliente()" class="btn btn-primary">Buscar</button>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action" id="clientTable">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Identificación</th>
                                <th class="column-title">RUC</th>
                                <th class="column-title">Cliente</th>
                                <th Style="text-align: center;" class="column-title no-link last">
                                    <span class="nobr">Seleccionar</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="clientBody">
                            <!--AQUI VA LA LISTA DE LOS PRODUCTOS-->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="ln_solid"></div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        limpiarPrincipal();
        tablaVacio();

        rowInicio();

        $("#modal-title").html("Buscar Cliente");
    });

    function CargarCliente() {
        var nom = $("#nombre").val();
        var ape = $("#apellido").val();

        $("#clientBody").empty();

        var datos = "Nombres=" + nom + "&Apellidos=" + ape;

        $.ajax({
            type: "GET",
            url: "/Busquedas/BusquedaCliente",
            data: datos,
            success: function (data) {
                var agregarClientes = "";

                if (Object.keys(data).length == 0) {
                    rowInicio();
                } else {
                    for (var i = 0; i < Object.keys(data).length; i++) {
                        var ruc = data[i].RUC != null ? data[i].RUC : "";

                        agregarClientes += '<tr class="headings" id = "data">' +
                            '<td val = ' + data[i].Id + '>' + data[i].Identificacion + '</td>' +
                            '<td>' + ruc + '</td>' +
                            '<td>' + data[i].Cliente + '</td>' +
                            '<td Style="text-align: center;"><button class="btn btn-dark btn-xs" id="btnSelec" onclick="SeleccionarCliente();">Seleccionar</button></td>' +
                            '</tr>';
                    }

                    $("#clientBody").append(agregarClientes);
                }
            }
        });
    }

    function rowInicio() {
        var agregar = '<tr class="headings" id = "data">' +
            '<td colspan=4 style="text-align:center!important;">Sin datos que mostrar</td>' +
            '</tr>';
        $("#clientBody").append(agregar);
    }

    function SeleccionarCliente() {
        $("#clientBody").on("click", "#btnSelec", function () {
            //OBTENER LOS VALORES A UTILIZAR
            var id = $(this).parents("tr").find("td").eq(0).attr("val");
            var ident = $(this).parents("tr").find("td").eq(0).html();
            var ruc = $(this).parents("tr").find("td").eq(1).html();
            var Nom = $(this).parents("tr").find("td").eq(2).html();

            //SE ASIGNAN LOS VALORES A LOS INPUTS
            $("#nombreCliente").val(Nom);
            $("#identificacion").val(ident);
            $("#rucOrden").val(ruc);
            $("#nombreCliente").attr("val", id);
        });

        $("#small-modal").modal("hide"); //CERRAR MODAL
        $('body').removeClass("modal-open");
    }
</script>

