@model ProyectoXalli_Gentelella.Models.Menu

@{
    ViewBag.Title = "Catálogos";
}

@Styles.Render("~/Content/datatableCSS")

<link href="~/Content/select2.min.css" rel="stylesheet" />

<style>
    #platilloDesc {
        width: 100% !important;
        white-space: nowrap !important;
        word-wrap: break-word;
        text-overflow: ellipsis !important;
        display: block !important;
        overflow: hidden !important;
    }
</style>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lista de Platillos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <a onclick="CargarParcial('/Menus/Create')"><i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <div class="col-md-offset-8">
                        <input id="filtro" class="form-control" type="text" autocomplete="off" placeholder="Buscar Platillo" style="margin-top:25px" disabled>
                    </div>
                </div>
                <div class="row" id="menuAdd"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_small-modal")

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Catalogos/menu.js"></script>
    <script src="~/Scripts/Operaciones/ventanas.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/jquery.smartWizard.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script>
        $("#small-modal").draggable({
            handle: ".modal-header"
        });

        //FUNCION PARA ELIMINAR EL DIV DEL MENU ENCASO DE QUE ESTE ACTIVO
        function estadoMenu(estado, id) {
            //ELIMINAR SI EL REGISTRO ESTA DESACTIVADO
            if (estado == false) {
                $("#" + id).remove(); //ELIMINA EL DIV DEL PLATILLO
            }

            if ($("#menuAdd > div").length == 0) {
                $("#filtro").attr("disabled", true);//INHABILITAR EL INPUT FILTRAR

                agregarPlatillo = '<h2 id="txt" style="text-align:center;">Sin elementos disponibles</h2>';//AGREGA LETRERO
                $("#menuAdd").html(agregarPlatillo);
            }
        }
    </script>
}