<div class="modal modal-danger fade" id="Cargando" role="dialog" data-backdrop="static" data-keyboard="false"><!--BACKDROP AND DATA-KEYBOARD EVITAR SALIR DE LA MODAL-->
    <div style="margin:10% 0 0 45%" class="loader"></div> <!-- llamada a css donde aplica efecto de espiner-->
</div>