<!-- MODAL -->
<div class="modal fade" id="small-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CerrarModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" id="modal-title"></h4>

            </div>
            <div class="modal-body" id="VistaParcial">
                <!--EL CONTENIDO IRA AQUI-->

            </div>
        </div>
    </div>
</div>