@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<style>
    .login_content h1::before {
        background: none !important;
    }

    .login_content h1::after {
        background: none !important;
    }

    .input-group-btn .btn {
        margin-bottom: 50px !important;
    }
</style>
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <div class="login_content">

                    <img class="img-responsive" src="~/images/BlackLogo.png" />
                    <br />
                    <hr />
                    <hgroup class="title">
                        <h1>@ViewBag.Title.</h1>
                    </hgroup>
                    <div>
                        <p>
                            Compruebe el correo electrónico para restablecer la contraseña.
                        </p>
                        <a href="@Url.Action("Login", "Account")">Regresar al inicio</a>
                    </div>

            </div>
        </div>
    </div>
</div>
